.PDFPreview {
  .preview {
    margin-bottom: 100px;
  }

  .qr-border {
    width: 140px;
    position: absolute;
    margin-top: 95px;
    margin-left: 303px;
  }

  .qr-image {
    margin-left: 313px;
    margin-top: 105px;
  }

  // .merchant {
  //   .merchant-logo {
  //     margin-left: 13px;
  //     // max-width: 138px;
  //   }
  // }

  .merchant-name {
    height: 186px;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 292px;
    font-size: 12px;
  }
}
