.custom-control-input {
  &:focus,
  &:active,
  &:visited {
    ~ {
      .custom-control-label {
        &::before {
          box-shadow: none !important;
          border-color: #39b980;
        }
      }
    }
  }
}
.custom-control-label::before,
::after {
  width: 26px !important;
  height: 26px !important;
}
.custom-control-input {
  &:checked {
    ~ {
      .custom-control-label {
        &::before {
          border: none;
        }
      }
    }
  }
}
