.PDFVerticalPreview {
  text-align: center;
  margin-bottom: 10px;
  .vertical-preview-image {
    width: 272.98px;
    height: 385px;
  }

  .qr-border {
    width: 120px;
    margin-top: 194px;
    margin-left: 77px;
    position: absolute;
    z-index: 3;
  }

  .qr-1 {
    z-index: 2;
    margin-top: 202px;
    margin-left: 195px;
  }

  .qr-2 {
    z-index: 2;
    margin-top: 202px;
    margin-left: 195px;
  }

  .qr-border.instruction {
    z-index: 3;
    margin-top: 147px;
    margin-left: 87px;
    width: 100px;
  }
  .qr-3 {
    z-index: 2;
    margin-top: 154px;
    margin-left: 195px;
  }

  .merchant-name {
    height: 366px;
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: start;

    margin-left: 368px;
    font-size: 12px;
  }

  .merchant-name-3 {
    height: 366px;
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: start;
    // margin-top: 234px;
    margin-left: 368px;
    font-size: 12px;
  }

  .olucha {
    width: 272.98px;
    height: 467.72px;
  }

  .olucha-qr {
    position: absolute;
    z-index: 2;
    width: 144px !important;
    height: 144px !important;
    margin-top: 173px;
    margin-left: -72px;
  }

  .alif-logo {
    position: absolute;
    height: 40px;
    z-index: 4;
    margin-left: -22px;
    margin-top: 222px;
  }

  .olucha-merchant-name {
    position: absolute;
    color: white;
    width: 273px;
    font-size: 10px;
    text-align: center !important;
    margin-left: 118px;
    margin-top: 370px;
  }
}
