.PDFVerticalPreview {
  text-align: center;
  margin-bottom: 10px;
  .vertical-preview-image {
    width: 272.98px;
    height: 385px;
  }

  .qr-border {
    width: 120px;
    margin-top: 200px;
    position: absolute;
    z-index: 3;
  }

  .qr-border.qr-card {
    width: 164px;
    margin-top: 180px;
    margin-left: -2px;
    position: absolute;
    z-index: 3;
  }

  .qr-border.qr-card_1 {
    width: 164px;
    margin-top: 149px;
    margin-left: -2px;
    position: absolute;
    z-index: 3;
  }

  .qr-1 {
    z-index: 2;
    margin-top: 195px;
  }

  .qr-2 {
    z-index: 2;
    margin-top: 173px;
  }

  .qr-2-with-logo {
    z-index: 2;
    margin-top: 142px;
  }

  .qr-border.instruction {
    z-index: 3;
    margin-top: 200px;
    margin-left: -1px;
    width: 120px;
  }

  .qr-border.instruction.no-logo-qr-border {
    z-index: 3;
    margin-top: 180px;
    margin-left: -1px;
    width: 120px;
  }

  .qr-3 {
    z-index: 2;
    margin-top: 196px;
  }

  .qr-3.no-logo-qr {
    z-index: 2;
    margin-top: 176px;
  }

  .merchant-logo {
    position: absolute;
    margin-top: 158px;
    text-align: center;
    margin-left: 0;
    .merchant-logo-img {
      max-width: 100px;
      height: 100%;
      max-height: 100px;
    }
  }

  .merchant-logo-a6 {
    position: absolute;
    margin-top: 324px;
    text-align: center;
    margin-left: 0;
    // width: 220px;
    .merchant-logo-img-a6 {
      max-width: 220px;
      height: 100%;
      max-height: 46px;
    }
  }

  .merchant-name {
    display: flex;
    align-items: center;
    height: 366px;
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    margin-top: 36px;
    margin-left: 54px;
    font-size: 12px;
  }

  .merchant-name-3 {
    display: flex;
    align-items: center;
    height: 366px;
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    text-align: start;
    margin-top: 36px;
    margin-left: 54px;
    font-size: 12px;
  }

  .olucha {
    width: 272.98px;
    height: 467.72px;
  }

  .olucha-qr {
    position: absolute;
    z-index: 2;
    width: 174px;
    margin-top: 160px;
    margin-left: 50px;
  }

  .alif-logo {
    position: absolute;
    height: 34px;
    z-index: 4;
    // margin-left: -22px;
    margin-top: 226px;
  }

  .olucha-merchant-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 273px;
    font-size: 10px;
    text-align: center !important;
    // margin-left: 118px;
    margin-top: 370px;
  }
}
