$successColor: #39B980;
$successHoverColor: #3CD390;
$buttonActiveColor: #1F9F66;
$darkColor: #222222;
$darkHoverColor: #444444;
$darkActiveColor: #000000;
$white: #ffffff;

// button
.button { 
    padding: 21px 30px;
    color: $white;
    font-size: 18px;
    font-family: Montserrat-Bold;
    font-stretch: normal;
    line-height: 22px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

// success button
.button.button-success {
    background-color: $successColor;
    text-decoration: none;
    color: $white !important;

    &:hover {
        background-color: $successHoverColor;
        color: $white;
    }
    
    &:active {
        background-color: $buttonActiveColor;
        color: $white;
    }
}

// dark button
.button.button-dark {
    background-color: $darkColor;
    text-decoration: none;

    &:hover {
        background-color: $darkHoverColor;
        color: $white;
    }

    &:active {
        background-color: $darkActiveColor;
        color: $white;
    }
}

// outline-link (button)
.button.button-outline-link {
    background-color: $white;
    border: 2px solid #B0E3CC;
    padding: 14px 26px;
    color: $successColor;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;

    &:hover {
        color: $white;
        border-color: $successColor;
        background-color: $successColor;
    }

    &:active {
        border-color: $buttonActiveColor;
        background-color: $buttonActiveColor;
    }
}

// link button
.button.button-link {
    background-color: transparent;
    border: none;
    padding: 0;
    color: $successColor;

    &:hover {
        color: $successHoverColor;
        text-decoration: none;
    }

    &:active {
        color: $buttonActiveColor;
    }
}


@media (max-width: 767px) {
    .button {
        padding: 14px 31px 16px 31px;
        font-size: 16px;
        line-height: 20px;
    }
}